<div id="{{id}}" class="cart-modal__product">
    <img class="cart-modal__product-img" src="{{picture}}">
    <div class="cart-modal__product-heading">
        <p class="cart-modal__product-heading-text">{{name}}</p>
    </div>
    <div class="cart-modal__product-remove-button">
        <img class="cart-modal__product-remove-button-img" src="img/icons/trash-solid.svg" alt="Retirar del carrito">
    </div>
    <div class="cart-modal__product-price">
        <p class="cart-modal__product-price-text"> 
            <span class="cart-modal__product-quantity-price-text">{{price}}</span>
            <span class="cart-modal__product-price-text--muted">(${{price}}&nbsp;c/u)</span>
        </p>
    </div>
    <div class="cart-modal__product-quantity-container">
        <div class="cart-modal__product-quantity-remove-button">
            <span class="cart-modal__product-quantity-remove-button-text">-</span>
        </div>
        <div class="cart-modal__product-quantity">
            <span class="cart-modal__product-quantity-text">1</span>
        </div>
        <div class="cart-modal__product-quantity-add-button">
            <span class="cart-modal__product-quantity-add-button-text">+</span>
        </div>
    </div>
</div>