{{#if products.length }}
    <table class="products-table">
        <caption class="products-table__caption">Productos</caption>
        <thead class="products-table__head">
            <tr class="products-table__row">
                <th class="products-table__header products-table__header--id-cell" scope="column">Id</th>
                <th class="products-table__header" scope="column">Nombre</th>
                <th class="products-table__header" scope="column">Precio</th>
                <th class="products-table__header" scope="column">Descripción</th>
                <th class="products-table__header" scope="column">Acciones</th>
            </tr>
        </thead>
        <tbody class="products-table__body">
            {{#each products}}
                <tr class="products-table__row" data-id="{{id}}">
                    <td class="products-table__cell products-table__cell--id-cell">{{id}}</td>
                    <td class="products-table__cell">{{productName}}</td>
                    <td class="products-table__cell">${{productPrice}}</td>
                    <td class="products-table__cell">{{productShortDesc}}</td>
                    <td class="products-table__cell products-table__cell--btn-cell">
                        <div class="products-table__btn-container">
                            <button class="products-table__btn products-table__btn--delete">
                                <img class="products-table__btn-img" src="/img/icons/xmark-solid.svg" alt="Eliminar" title="Eliminar">
                            </button>
                            <button class="products-table__btn products-table__btn--edit">
                                <img class="products-table__btn-img" src="/img/icons/pencil-solid.svg" alt="Eliminar" title="Eliminar">
                            </button>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot class="products-table__footer">
            <tr class="products-table__row">
                <td class="products-table__cell" colspan="5">Se encontraron {{products.length}} productos</td>
            </tr>
        </tfoot>
    </table>
{{else}}
    <p class="products-table__no-products">No se encontraron productos</p>
{{/if}}